body {
  font-family: 'Montserrat', sans-serif;
}

#header {
  color: white;
}
#header:hover {
  color: lightgray;
}

.bg-nav {
  background-color: #e3f2fd;
}

.link {
  font-size: 1.2rem;
}

.link:hover {
  color: #e3f2fd;
  background-color: #0d6efd;
}

svg:hover {
  cursor: pointer;
  transform: scale(0.7);
}

.edit {
  color: green;
}

.delete {
  color: red;
}

.link-button {
  text-decoration: none;
}
.link-button:hover {
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .grid-jobs {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

.bg-header-cards {
  background-color: #cfe2ff;
}