body {
  font-family: 'Montserrat', sans-serif;
}

.bg-nav {
  background-color: #e3f2fd;
}

.link {
  font-size: 1.2rem;
}

.link:hover {
  color: #e3f2fd;
  background-color: #0d6efd;
}

svg:hover {
  cursor: pointer;
  transform: scale(0.7);
}

.edit {
  color: green;
}

.delete {
  color: red;
}

.link-button {
  text-decoration: none;
}
.link-button:hover {
  transform: scale(1.1);
}